html {
  scroll-behavior: smooth;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
}

.skill-pill {
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.skill-pill:hover {
    transform: scale(1.1) translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

 .hero-bg {
      background: linear-gradient(to right, #1e3a8a, #2563eb); /* Indigo to Blue */
    }
    .timeline-container {
      position: relative;
      border-left: 2px solid #e5e7eb;
    }

    .timeline-container {
  position: relative;
}
